# cas-client-3.1.12_customized specific
Module/cas-client-3.1.12_customized/.classpath
Module/cas-client-3.1.12_customized/.project
Module/cas-client-3.1.12_customized/.settings/
Module/cas-client-3.1.12_customized/cas-client-core/build/
Module/cas-client-3.1.12_customized/cas-client-core/lib/cas-client-core-3.1.12-customized.jar
Module/cas-client-3.1.12_customized/cas-client-core/log/

# cas-server-4.0.1_customized specific
/Module/cas-server-4.0.1_customized/.classpath
/Module/cas-server-4.0.1_customized/.project
/Module/cas-server-4.0.1_customized/.settings/
/Module/cas-server-4.0.1_customized/App/build/
/Module/cas-server-4.0.1_customized/App/lib/cas-server-4.0.1_customized.war
/Module/cas-server-4.0.1_customized/App/lib/JepLoginModule.jar
/Module/cas-server-4.0.1_customized/App/log/
/Module/cas-server-4.0.1_customized/App/temp-war/

# JepRia specific
Module/JepRia/.classpath
Module/JepRia/.project
Module/JepRia/.settings/
Module/JepRia/App/build/
Module/JepRia/App/build-auto/
Module/JepRia/App/build-test/
Module/JepRia/App/lib/jepria-auto.jar
Module/JepRia/App/lib/jepria-ejb.jar
Module/JepRia/App/lib/jepria-oc4j.jar
Module/JepRia/App/lib/jepria-test.jar
Module/JepRia/App/lib/jepria-weblogic.jar
Module/JepRia/App/lib/jepria.jar
Module/JepRia/App/log/
Module/JepRia/bin/

# JepRiaReport specific
Module/JepRiaReport/.classpath
Module/JepRiaReport/.project
Module/JepRiaReport/.settings/
Module/JepRiaReport/App/lib/jepriareport.jar
Module/JepRiaReport/App/lib/jepriareport-ejb.jar
Module/JepRiaReport/bin/

# JepRiaShowcase specific
Module/JepRiaShowcase/.classpath
Module/JepRiaShowcase/.project
Module/JepRiaShowcase/.settings/
Module/JepRiaShowcase/App/build/
Module/JepRiaShowcase/App/build-gwt/
Module/JepRiaShowcase/App/build-lib/
Module/JepRiaShowcase/App/gwt-unitCache/
Module/JepRiaShowcase/App/extras/
Module/JepRiaShowcase/App/lib/jepriashowcase.ear
Module/JepRiaShowcase/App/lib/jepriatoolkit.jar
Module/JepRiaShowcase/App/log/
Module/JepRiaShowcase/App/war/
Module/JepRiaShowcase/bin/

# JepRiaToolkit specific
Module/JepRiaToolkit/.classpath
Module/JepRiaToolkit/.project
Module/JepRiaToolkit/.settings/
Module/JepRiaToolkit/App/lib/jepriatoolkit.jar
Module/JepRiaToolkit/App/log/
Module/JepRiaToolkit/App/classes/
Module/JepRiaToolkit/bin/

# JrCompiler specific
Module/JrCompiler/App/lib/jrcompiler.jar

# Eclipse project files
/bin/
.classpath
.project
.settings
